/Folder.DotSettings.user
/.idea/indexLayout.xml
/.idea/projectSettingsUpdater.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.vs
/ToE-Classes/ToEClasses/ToEClasses.csproj
/.gitignore
/.gitignore
/ToE-Classes/ToEClasses/ToEClasses.csproj
